body{
	background: #fff;
    line-height: 1.42857143;
    overflow-x: hidden;
}
.site-logo{
	
}
.padding-top-0{
    padding-top:0px !important;
}
.padding-bottom-15{
    padding-bottom: 15px;
}
.header{
	margin-bottom: 0;
	height: 80px;
}

.corporate .content-page {
    padding: 0 0 20px;
    /* font-size: 14px; */
}
.profile_image_wrapper img{
    width: 250px;
}
.profile_image_wrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px;
}
.forgotPasswordForm{
    padding-top: 10px;
}
.forgotPasswordForm .portlet-body.form{
    margin-top: 10px;
}
.forgotPasswordFlash.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
.comments .media .thumbnail{
    padding:0px;
}
.pre-footer-subscribe-box .input-group {
	padding: 1px;
}
.margin-bottom-8{
	margin-bottom: 8px !important;
}
.margin-bottom-10{
	margin-bottom: 10px !important;
}
.margin-bottom-13{
	margin-bottom: 13px !important;
}
/**************/
/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l              (normal)
.jssora11r              (normal)
.jssora11l:hover        (normal mouseover)
.jssora11r:hover        (normal mouseover)
.jssora11ldn            (mousedown)
.jssora11rdn            (mousedown)
*/
.jssora11l, .jssora11r, .jssora11ldn, .jssora11rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(/upload/slider/slider_arrow.png) no-repeat;
	overflow: hidden;
}

.jssora11l {
    background-position: -4px -35px;;
	/*background-position: -11px -36px;*/
}

.jssora11r {
	background-position: -66px -35px;
}

.jssora11l:hover {
	background-position: -124px -35px;
}

.jssora11r:hover {
	background-position: -186px -35px;
}

.jssora11ldn {
	background-position: -244px -35px;
}

.jssora11rdn {
	background-position: -306px -35px;
}
/* jssor slider thumbnail navigator skin 07 css */
/*
.jssort07 .p            (normal)
.jssort07 .p:hover      (normal mouseover)
.jssort07 .pav          (active)
.jssort07 .pav:hover    (active mouseover)
.jssort07 .pdn          (mousedown)
*/
.jssort07 .i {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 99px;
	height: 66px;
	filter: alpha(opacity=80);
	opacity: .8;
}

.jssort07 .p:hover .i, .jssort07 .pav .i {
	filter: alpha(opacity=100);
	opacity: 1;
}

.jssort07 .o {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 99px;
	height: 67px;
	border: 1px solid #ffffff;
	transition: border-color .6s;
	-moz-transition: border-color .6s;
	-webkit-transition: border-color .6s;
	-o-transition: border-color .6s;
}

* html .jssort07 .o {
	/* ie quirks mode adjust */
	width /**/: 99px;
	height /**/: 66px;
}

.jssort07 .pav .o, .jssort07 .p:hover .o {
	border-color: #fff;
}

.jssort07 .pav:hover .o {
	border-color: #0099FF;
}

.jssort07 .p:hover .o {
	transition: none;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
}
#slider .details{
	position: absolute;
	top: 35px;
	left: 15px;
}
#slider .details h4{
	color: #67db3c;
	font-weight: bold;
}
#slider .details p{
	color: #fff;
	font-size: 11px;
	width: 40%;
}
#slider .details a{
	color: #fff;
	font-size: 11px;
}
/**************/
.replyBox{
    margin-bottom: 10px;
}
.content-page {
    line-height: 1.714285714;
}
.additional-nav {
    padding-right: 26px;
}
.header-navigation {
    margin: 0 0px 0 0;
}
.geekup-main-content-row
{
    /*margin-right: 0px;*/
    /*margin-left: 0px;*/
    /*width: 100%*/
}
.geekup-main-content-col{
    /*margin-left: 0px;*/
    /*padding-left: 0px;*/
}

.breadcrumb {
    margin-bottom: 22px;
    margin-top: 23px;
}
.tabbable.tabbable-custom.tabbable-full-width .nav-tabs > li.active > a, .tabbable .nav-tabs > li.active > a:hover, .tabbable .nav-tabs > li.active > a:focus {
    background: none;
    color: #6B6262;

}
.tabbable-custom > .nav-tabs > li.active {
    border-top: 3px solid #f3565d;
    margin-top: 0;
    position: relative;
    margin-bottom: -3px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #fff;
}
.tabbable.tabbable-custom .nav-tabs > li > a, .tabbable  .nav-tabs > li > a:hover, .tabbable  .nav-tabs > li > a:focus {
    background: none;
    color: #647484;
    border-radius: 0;
    border: none !important;
}
.tab-content {
    background:none;
    padding: 0px 15px;
}
.tab-pane .form .form-body {
    padding-top: 0px;
}

.tabbable .nav-tabs > li.active > a, .tabbable .nav-tabs > li.active > a:hover, .tabbable .nav-tabs > li.active > a:focus {
    /*//background: #e6400c;*/
    color: #fff;
    padding: 9px 15px;
}

.nav-tabs > li.active > a.category-top-tap{
    padding: 5px 15px !important;
}
.profileOccupation{
    font-size: 17px;
    margin-bottom: 15px !important;
    margin-top: -8px;
}
.profileFullName{
    font-weight: 400;
}
a.linkHasColor{
    color: #67bd3c;
}

.nav-tabs > li.active-style2 > a{
    background: #e6400c;
    color: #fff;
}

ul.nav-padding-10{
    margin-bottom: 23px;
    border-bottom: 0px;
}

li.nav-workshop{
    padding-right: 4px;
}
.ws-description{
    margin-bottom: 20px;
}
.category-top-tap, .nav-tabs li.active .category-top-tap{
    padding: 5px 15px !important;
}
div#profile-overview, div#edit-profile {
    padding: 15px 0px 0px 0px;
}


a.removeStyle{
    text-decoration: none !important;
}

a.removeStyle:hover{
    color: white;
}

.mix-filter li:hover a, .mix-filter li.active a{
    background: #85CA63 !important;
    color: #fff !important;
}
.form .form-section {
    margin: 20px 0px 10px 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}
.form-without-legend {
    padding-top: 0px;
}
.register-container, .login-container{
    margin-top: 30px;
}
.register-container h1, .login-container h1{
    font: 300 24px 'Open Sans', sans-serif;
    margin: 0 0 10px;
}
.register-container div.checker{
    top: -1px;
    left: -2px;
}
.control-label {
    margin-top: 1px;
}
.form-group.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-horizontal .note-danger ul{
    list-style: none;
    margin-bottom: 0px;
    padding-left: 10px;
}
@media (min-width: 768px){
    .form-horizontal .control-label {
        padding-top: 4px;
        margin-bottom: 0;
        text-align: right;
    }
}
.recent-post-description{
    width: 100%;
    height: 50px;
    overflow: hidden;
}



a.site-logo{
    width: 50px;
    overflow: visible;
}

a.site-logo div.site-name{
    width: 230px;
}

div.form-email-error{
    border-color: red !important;
}