{% extends "../../Base/View/layouts/frontend.volt" %}

{% block title %}
    {{ 'Internal Server Error'|i18n }}
{% endblock %}

{% block content %}
    <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
            <div class="content-page page-500">
                <div class="number">
                    500
                </div>
                <div class="details">
                    <h3>Oops! Something went wrong.</h3>
                    <p>
                        We are fixing it!<br>
                        Please come back in a while.<br><br>
                    </p>
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
{% endblock %}

