.geekup-footer,
.geekup-prefooter {
    /*margin-right: 0px;*/
    /*margin-left: 0px;*/
    /*width: 100%;*/
}
.geekup-footer .row,
.geekup-prefooter .row {
    /*width: 100%;*/
    /*margin-right: 0px !important;*/
    /*margin-left: 0px;*/
}
.footer-aboutus-col {
    /*padding-left: 0px !important ;*/
    /*padding-right: 30px !important ;*/
}
.footer-lasted-news-col {
    /*padding-left: 0px !important ;*/
}
.footer-contact-col {
    /*padding-right: 0px !important;*/
}
.geekup-subcribe-box{
    max-width: 320px;

}
.geekup-subcribe-btn{
    background: #ff6600;
    font-weight: bold;
}
.geekup-copyright {
    font-size: 14px;
}

.geekup-social-icon {
    margin-right: 0px!important;
    padding-right: 0px !important;
}
.footer-recent-news-image {
    /*padding-left: 0px !important;*/
}
.recent-news-inner {
   padding-right: 15px;
}