.alpha-label span{
    background: #F00;
    color: #FFF;
    padding: 10px 15px;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    border-radius: 0px!important;
    text-transform: uppercase;
    font-weight: 400;
}
.alpha-label span:hover{
    cursor: pointer;
}

div.form-email-error {
    border-color: red !important;
}