.logo-img{
    height: 45px;
    margin-top: 7px;
}
.site-logo{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.site-name{
    margin-top: 5px;
    position: relative;
    left: 52px;
    display: inline-block;
}

.slogan
{
    font-size: 11px;
    color: #014e7c;
    margin-top: -4px;
}
.site-name .name {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 0px !important;
}
.site-logo .logo {
    display: inline-block;
    position: absolute;
}
.geekup-menu {
    /*height: 83px;*/
}

.geekup-menu-list {
    /*position:  absolute;*/
    /*right: 0px;*/
    /*padding-right: 0px !important;*/
    /*margin-right:  0px;*/
}