.logo-img{
    height: 35px;
    margin-top: 7px;
}
.site-logo{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.site-name{
    margin-top: 5px;
    position: relative;
    left: 52px;
    display: inline-block;
}

.slogan
{
    font-size: 11px;
    color: #014e7c;
    margin-top: -4px;
}
.site-name .name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px !important;
}
.site-logo .logo {
    display: inline-block;
    position: absolute;
}
.page-logo {
    width: 400px !important;
}