@font-face {
    font-family: Lobster;
    src: url(LobsterTwo-Italic1.otf);
}
.info-items,
.geekup-quoting,
.geekup-content,
.geekup-partner {
    margin-top: 30px !important;
}
. geekup-partner {
    margin-bottom: 15px !important;
}

.quoting-content{
    position: relative;
    top: 20%;
    float: left;
}
.quoting-author {
    position: relative;
    top: 20%;
    text-align: right;
}
.info-items{
    display: block;
    height: 120px;
}

.info-items-content{
    text-align: right;
    padding-right: 16px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.info-items-data {
    font-size: 26px;
    color: #333366;
    margin-top: 10px;
}
.info-items-title{
    display: block;
    height: 30px;
    background: #00cc33;
    padding: 0px 16px;
}
.info-items-title p {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    color: white;
}
.info-items-title span {
    display: inline-block;
    margin-top: 8px;
    float: right;
}
.info-items-unit {
    margin-top: -11px;
    padding-bottom: 20px;
}
.geekup-general-info .col-md-4.info-items {
    padding-left: 0px;
    padding-right: 10px;
}
.geekup-general-info{
    padding-right: 0px !important;
}

.geekup-tab .nav{
    margin-left: 15px !important;
}
.geekup-tab .nav .active  a,
.geekup-tab .nav .active  a:hover{
    background: #00cc33;

}
.geekup-tab-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: 13px ;
    margin-bottom: 23px;
}
.geekup-tab-item p {
    margin-bottom: 0px;
}
.geekup-hr {
    margin: 0px  15px;
}
.geekup-partner
{
    margin: 30px 0px;
}

.geekup-thumbnail{
    margin-top: -6px
}

.info-item-viewmore{
    float: left !important;
    color: #fff;
    margin-top: 4px !important;
    margin-left: -7px;
}
.info-item-viewmoreicon{
    float: right !important;
    margin-top: 5px !important;
    margin-right: -8px;
}
.gu-homepage-comment-date{
    float: right;
    font-size: 12px;
}
h4.gu-hp-comment-user{
    padding-top: 0px;
}
.geekup-tab-item.gu-hp-cm-item{
    padding-right: 0px;
}

.recent-comment-author,
.recent-comment-link{
    color: #4d90fe !important;
}
.header-slider{
    margin-top: 0px !important;
    border-bottom: 1px solid #DDDDDD;
}
.recent-post a {
 color: #67bd3c;
}
.recent-post {
    /*padding-top: 0px;*/
    margin-top: -6px;
}
.revolution-slider {
    margin-bottom: 0px !important;
    border: none !important;
}
.bottom-slider-line {
    width: 2000px;
    height: 1px;
    background: #DDDDDD;
}
.chat-title {
    padding-top: 0px !important;
    border-bottom: 1px solid #67bd3c;
    margin-bottom: 0px;
}
.comment-content{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px !important;
}
.recent-comment-link{
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.comment-avatar{
    width: 55px;
    height: 55px;
}
.geekup-tab-comment-item{
    padding-left: 0px !important;
    margin-top: 18px !important;
    margin-bottom: 18px !important;
}
.recent-comment-time{
    margin-bottom:  0px !important;
    margin-right: 2px;
}
.comment-avatar-wrapper{
    padding-right: 10px !important;
    padding-top: 5px;
    width: 70px;
}
.recent-post-img-col{
    padding-top: 10px;
}

.our-clients .client-item{
    background: #dedede;
}
#chat-error {
    color: red;
    font-style: italic;
}
.message-owner{
    text-transform: capitalize;
}
.scroller {
    min-height: 250px;
}
.portlet{
    margin-bottom: 0px !important;
}
#listChats {
    margin-right:  10px !important;
    margin-top: 0px !important;
    padding-top: 23px !important;
}
.scroller {
    margin-top: 23px;
}

.cbp-qtcontent{
    font-family: lobster;
}

.geekup-quoting{
    height: 120px;
}