{#<div class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
    {#<div class="modal-dialog">#}
        {#<div class="modal-content">#}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ currentUser.username }}</h4>
            </div>
            <div class="modal-body container-fluid">
                <div class="te row">
                            <div class="avatarCropper col-sm-4 col-md-4">
                                <a class="avatar NoOverlay Av1050879l" href="members/blaze1st.1050879/">
                                    <img src="{{ helper('User', 'User').getAvatarPath(currentUser.id) }}" alt="avatar" style=" max-width: 100%; height: auto">
                                </a>
                            </div>
                            <div class="userInfo col-sm-8 col-md-8">
                                {#<div class="userLinks">#}
                                    {#<a href="#">Trang hồ sơ</a>#}
                                    {#<a href="#">Ảnh của Blaze1st</a>#}
                                {#</div>#}
                                    <dt>Ngày tham gia:</dt><dd>{{ helper('User', 'User').formatDateTime(currentUser.creation_date)}}</dd>
                                    <dt>Bài viết:</dt> <dd>
                                    {#<a href="#" class="concealed" rel="nofollow">#}
                                        {{ numberOfPost }}
                                    {#</a>#}
                                    </dd>
                                    <dt>Thích đã nhận:</dt> <dd>0</dd>
                                    <dt>Điểm thưởng:</dt> <dd>
                                    {#<a href="members/blaze1st.1050879/trophies" class="concealed OverlayTrigger">#}
                                        0
                                    {#</a>#}
                                    </dd>
                                </dl>
                            </div>
                        </div></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                {#<button type="button" class="btn btn-primary">Save changes</button>#}
            </div>
        {#</div>#}
    {#</div>#}
{#</div>#}